.purpleBlur,
.blueBlur {
  position: fixed;
  z-index: -1;
  border-radius: 9999px;
  width: 500px;
  height: 500px;
}
.purpleBlur {
  top: -100px;
  left: -100px;
  filter: blur(120px);
  background: rgba(147, 51, 234, 0.2);
}
.blueBlur {
  bottom: -20px;
  right: -200px;
  filter: blur(100px);
  background: rgba(8, 145, 178, 0.2);
}
